[alias]
	st = status
	co = checkout
	br = branch
	lg = log --graph --pretty=oneline
[push]
	default = tracking
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
[user]
	email = EMAIL
	name = Zach Thacker
[core]
	autocrlf = false
